---
interface Experience {
  title: string
  company: string
  location: string
  startDate: string
  endDate: string
  description: string[]
}

const EXPERIENCE: Experience[] = [
  {
    title: "Desarrollo de Aplicaciones Web",
    company: "IES Gran Capitán",
    location: "Córdoba",
    startDate: "2025",
    endDate: "Actual",
    description: [
      "Desarrollo de aplicaciones de consola con Python, con paradigmas estructurado y orientado a objetos.",
      "Desarrollo de aplicaciones web con HTML, CSS y XML.",
      "Base de datos con SQL y MySQL.",
      "Sistemas informáticos con Windows y Linux.",
      "Git y GitHub.",
    ]
  },
  {
    title: "Prácticas",
    company: "Deuser Tech Group",
    location: "Córdoba",
    startDate: "Enero 2025",
    endDate: "Marzo 2025",
    description: [
      "Creación de base de datos con MongoDB.",
      "Desarrollo de aplicaciones de escritorio con .Net Framework y C#.",
      "Git y GitHub.",
      "Conocimiento en sistemas SCADA y PLC.",
    ]
  },
  
  {
    title: "Bachillerato de Ciencias y Tecnología",
    company: "CDP Torrealba",
    location: "Córdoba, Almodóvar del Río",
    startDate: "2022",
    endDate: "2024",
    description: [
    ]
  }
]
---

<div class="relative mx-12 pb-12">
  {
    EXPERIENCE.map((experience) => (
      <div class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
        <div class="mb-10 ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg
              class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </span>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
            {experience.title} · {experience.company}
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            {experience.startDate} - {experience.endDate}
          </time>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            {experience.location}
          </p>
          <ul class="list-disc ml-4">
            {experience.description.map((item) => (
              <li class="mb-2 text-base font-normal text-gray-500 dark:text-gray-400">
                {item}
              </li>
            ))}
          </ul>
        </div>
      </div>
    ))
  }
</div>